body {
    --text: white;
    --textHover: white;
    --answer: white;
    --background: black;
    --subBackground: #2a2a2a;
    --border: red;
    --hr: red;
    --mainMenuButtonBackground: #555555;
    --onFocus: #c3c3c3;
    --onFocusBackground: black;
}
