body {
    --text: black;
    --textHover: white;
    --answer: #3e3e3e;
    --background: white;
    --subBackground: #c8c8c8;
    --border: black;
    --hr: #ccc;
    --mainMenuButtonBackground: #555555;
}