{% extends "theme.html" %}

{% block content %}

<div id="history" >

    {% for calc in calculation %}
        <div class="historyItem" onload="autoScroll">
            <div class="historyItemContent">
                <p class="calculation">{{ calc['calculation'][0] }}</p>
                <p class="answer">{{ calc['calculation'][1] }}</p>
            {% if calc['type'] == "graph" %}
                <img src="{{url_for('static', filename='graphs/plot' + calc['graphNumber'] + '.png')}}">
            {% endif %}
            </div>
            <hr>
        </div>

    {% endfor %}
</div>


<div id="inputArea" >
    <form action="{{ url_for('submit') }}" method="post">
        <input id="inputTextArea" autofocus name="text" type="text" value="{{ request.form['content'] }}" required>
        <input id="submitButton" type="submit">
    </form>
</div>

<script>
    function autoScroll() {
        let myDiv = document.getElementById("history");
        console.log(myDiv)
        myDiv.scrollTop = myDiv.scrollHeight;
    }
</script>

{% endblock %}
