{% extends "base.html" %}

{% block content %}

<div id="history" >

    {% for calculation in calculation %}
        <div class="historyItem" onload="autoScroll">
            <div class="historyItemContent">
                <p class="calculation">{{ calculation[0] }}</p>
                <p class="answer">{{ calculation[1] }}</p> 
            </div>
            <hr>
        </div>
        
    {% endfor %}
</div>


<div id="inputArea" >
    <form action="{{ url_for('submit') }}" method="post">
        <input id="inputTextArea" autofocus name="text" type="text" value="{{ request.form['content'] }}">
        <input id="submitButton" type="submit">
    </form>
</div>

<script>
    function autoScroll() {
        console.log("test")
        let myDiv = document.getElementById("history");
        console.log(myDiv)
        myDiv.scrollTop = myDiv.scrollHeight;
    }
</script>

{% endblock %}