{% extends "theme.html" %}

{% block content %}

<body styles="overflow:hidden">
    <div id="title">CALC-5318008</div>

    <div class="gridContainer">
        <form action="#" class="menu" method="post">
            <input type="hidden" value="calc" name="menu">
            <button class="buttonMenu" autofocus>CALCULATION</button>
        </form>
        <form action="#" class="menu" method="post">
            <input type="hidden" value="program" name="menu">
            <button class="buttonMenu">PROGRAM</button>
        </form>
        <form action="/" class="menu" method="post">
            <input type="hidden" value="settings" name="menu">
            <button class="buttonMenu">SETTINGS</button>
        </form>

       
     </div>
</body>

{% endblock %}
