{% extends "theme.html" %}

{% block content %}

    <div id="title">CALC-5318008</div>

    <div class="gridContainer">
        <form action="#" class="menu" method="post">
            <input type="hidden" value="calc" name="menu">
            <button class="buttonMenu">CALCULATION</button>
        </form>

        <form action="#" class="menu" method="post">
            <input type="hidden" value="graph" name="menu">
            <button class="buttonMenu">GRAPH</button>
        </form>

        <form action="#" class="menu" method="post">
            <input type="hidden" value="program" name="menu">
            <button class="buttonMenu">PROGRAM</button>
        </form>

        <form action="settings" class="menu" method="post">
            <input type="hidden" value="settings" name="menu">
            <button class="buttonMenu">SETTINGS</button>
        </form>

        <form action="#" class="menu" method="post">
            <input type="hidden" value="PROBABILITY" name="menu">
            <button class="buttonMenu">PROBABILITY</button>
        </form>

        <form action="#" class="menu" method="post">
            <input type="hidden" value="equation" name="menu">
            <button class="buttonMenu">EQUATION</button>
        </form>
	<form action="#" class="menu" method="post">
            <input type="hidden" value="shutdown" name="menu">
            <button class="buttonMenu">SHUTDOWN</button>
        </form>

    </div>

{% endblock %}
