<!DOCTYPE html>
<html>
<head>
    <title>CALC-5318008</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
</head>

<body>
    <font face="Arial">

    <div id="title">CALC-5318008</div>

    <div class="gridContainer">
        <form action="#" class="menu" method="post">
            <input type="hidden" value="calc" name="menu">
            <button class="buttonMenu">CALCULATION</button>
        </form>

        <form action="#" class="menu" method="post">
            <input type="hidden" value="function" name="menu">
            <button class="buttonMenu">FUNCTION</button>
        </form>

        <form action="#" class="menu" method="post">
            <input type="hidden" value="program" name="menu">
            <button class="buttonMenu">PROGRAM</button>
        </form>

        <form action="#" class="menu" method="post">
            <input type="hidden" value="statistics" name="menu">
            <button class="buttonMenu">STATISTICS</button>
        </form>

        <form action="#" class="menu" method="post">
            <input type="hidden" value="PROBABILITY" name="menu">
            <button class="buttonMenu">PROBABILITY</button>
        </form>

        <form action="#" class="menu" method="post">
            <input type="hidden" value="equation" name="menu">
            <button class="buttonMenu">EQUATION</button>
        </form>

    </div>   

</body>
</html>
