html, body, .content {
    height: 100%;
    margin: 0px;
    overflow: hidden;
}

/* Main.html */

.gridContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    user-select: none;
}

.gridItem {
    background-color: whitesmoke;
    border: 1px solid black;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.gridItem:hover, .gridItem:focus {
    background-color: gainsboro
}

/* Calculation.html */

div#history {
    padding-bottom: 60px;
    overflow-y: scroll;
    height: -webkit-fill-available;
    display: flex;
    flex-direction: column-reverse;
}

div.historyItemContent {
    display: flex;
    margin: 1%;
}

p.calculation {
    width: -webkit-fill-available;
    margin: 0px;
}

p.answer {
    width: 25%;
    text-align: right;
    margin: 0px;
}

div#inputArea {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
}

input#inputTextArea {
    font-size: large;
    width: 98%;
    height: 40px;
    resize: none;
    padding: 0px;
    margin: 1%;
}

input#submitButton {
    display: none;
}

hr {
    width: 100%;
    height: 1px;
    background-color: #ccc;
    border: none;
    margin: none;
}