html, body, .content {
    height: 100%;
    margin: 0px;
}

/* Main.html */

.gridContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    user-select: none;
}

.gridItem {
    background-color: whitesmoke;
    border: 1px solid black;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.gridItem:hover, .gridItem:focus {
    background-color: gainsboro
}

/* Calculation.html */

.historyItem {
    display: flex;
}

p.calculation {
    width: -webkit-fill-available;
    margin: 0px;
}

p.answer {
    width: 25%;
    text-align: right;
    margin: 0px;
}

.inputArea {
    position: fixed;
    bottom: 0;
    width: 100%;
}