html, body, .content {
    height: 100%;
    margin: 0px;
    overflow: hidden;
    background-color: var(--background);
    color: var(--text);
}

/* Main.html */

div#title {
    background-color: var(--mainMenuButtonBackground);
    padding: 10px 20px 10px 20px;
    text-align: center;
    margin: 60px 22% 60px 22%;
    color: gainsboro;
    font-size: xx-large;
}

div.programmation{
    margin-top: 70px;
}

.gridContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    user-select: none;
}

.gridItem {
    background-color: var(--background);
    border: 1px solid var(--border);
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.gridItem:hover, .gridItem:focus {
    background-color: gainsboro
}

button.buttonMenu {
    background-color: var(--background);
    color: var(--text);
    border: 2px solid var(--mainMenuButtonBackground);
    width: -webkit-fill-available;
    margin: 15px;
    padding: 20px;
    font-size: large;
    border-radius: 15px;
}

button.buttonMenu:hover {
    background-color: var(--mainMenuButtonBackground);
    color: var(--textHover);
}

/* Calculation.html */

div#history {
    margin-top: 35px;
    padding-bottom: 90px;
    overflow-y: scroll;
    height: -webkit-fill-available;
    display: flex;
    flex-direction: column-reverse;
}

div.historyItemContent {
    display: flex;
    margin: 1%;
}

p.calculation {
    width: -webkit-fill-available;
    margin: 0px;
}

p.answer {
    width: 35%;
    text-align: right;
    margin: 0px;
    color: var(--answer);
    padding-left: 10px;
}

div#inputArea {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--background);
}

input#inputTextArea {
    font-size: large;
    color: var(--text);
    background-color: var(--background);
    width: -webkit-fill-available;
    height: 40px;
    resize: none;
    padding: 0px;
    margin: 1%;
}

input#submitButton {
    display: none;
}

hr {
    width: 100%;
    height: 1px;
    background-color: var(--hr);
    border: none;
    margin: none;
}

div.title{
    width: 100%;
    background-color: var(--background);
    padding: 10px 20px 10px 20px;
    text-align: center;
    margin: 10px 10% 10px 10%;
    color: white;
    font-size: 56px;
}

/* Dropdown */

div.topBar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 35px;
    background-color: var(--subBackground);
}

div#dropdown {
    position: fixed;
    top: 35px;
    display: none;
    height: 100%;
    width: 30%;
    z-index: 100;
}

div.showDropdown {
    background-color: var(--background);
    display: block !important;
}

button#topBarButtonDropdown {
    background-color: var(--subBackgroundd);
    color: var(--text);
    border: none;
    margin: 0;
    padding: 0px 5px;
}

.burgerIcon span {
    display: block;
    width: 35px;
    height: 3px;
    background-color: var(--text);
    margin: 6px 0;
  }
